* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #3e3e3f;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  background-color: #3e3e3f;
}
img {
  width: 100%;
}
.logo-image {
  width: 150px !important;
}

.homepage__menu {
  background-color: black;
  height: 60px;
  top: 0;
  /* position: fixed; */
  width: 100%;
}
.menu {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  min-width: 1024px;
}

.title {
  list-style: none;
  text-align: center;
  display: none;
}
.title-son {
  display: inline-block;
  padding: 20px 24px;
}
.title-son:hover {
  background-color: #49494a;
}
.title-con {
  display: inline-block;
  margin-bottom: 6px;
}
.son-title {
  text-decoration: none;
  color: aliceblue;
}
.cart {
  display: flex;
  justify-content: space-between;
  float: right;
  color: #fff;
}
.cart > a {
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
}
.cart:hover {
  cursor: pointer;
}
.cart-shopping {
  position: relative;
  margin: 0 10px;
}
.cart-shopping a i {
  color: #fff;
  list-style: none;
  position: absolute;
}

.cart-shopping a span {
  margin: 10px;
  color: #fff;
  position: absolute;
  margin: -12px 0px 25px 15px;
}
.search-icon {
  height: 50px;
  width: 50px;
  text-align: center;
  display: none;
}
.cart-icon {
  color: #fff;
}
.icon {
  padding: 0 8px;
  color: #fff;
}

.navbar {
  width: 15%;
  background-color: black;
  height: 100%;
  color: #fff;
  /* margin: 60px 0; */
  text-align: center;
  float: left;
}

nav li {
  list-style: none;
  padding: 20px;
}

nav li a {
  text-decoration: none;
  color: #fff;
}

.taskbar {
  width: 85%;
  float: right;
  height: 50px;
  color: #fff;
  background-color: black;
  line-height: 50px;
  text-align: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.content-btn {
  padding: 10px 20px;
}

.table {
  border: 1px solid;
  border: none;
  text-align: center;
  color: #fff;
}

.img-table {
  width: 100%;
}

.img-width {
  width: 10%;
}

.namePro, .pricePro {
  color: #fff;
}

.loai {
  margin: 10px 0 0 10%;
}

.loai span {
  padding: 0 20px;
  text-align: center;
}

.formthemloai  {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  
}
.name-loai {
  color: #fff;
}

.cat-table {
  border: 1px solid;
  padding: 10px 100px;
  text-align: center;

}


.table-bill {
  border: 1px solid;
  text-align: center;
  color: #fff;
  width: 105%;
}

.table-bill th {
  padding: 10px 30px;
}

.table-bill td {
  padding: 20px;
}


.edit-pro {
  color: #fff;
  border: 1px solid;
  width: 30%;
  margin: 50px 25% 0 0;
  float: right;
}

.edit-pro  p {
  margin: 10px;
  padding: 10px;
}

.edit-pro  input {
  margin: 10px;
  padding: 10px 30px;
}

.btn-sub {
  padding: 10px 50px;
}

.bill-table {
  margin: 10px 4.5% 0 0 ;
  width: 78%;
  float: right;
}